:root {
    --maroon: #700000;
    --white: #fff;
    --grey: #777777;
    --light: #a47171;
}

* {
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: var(--grey);
}

/* Header with name and nav bar*/
.header {
    padding: 20px;
    font-family: 'Serif';
    background-color: var(--maroon);
    color: var(--white);
    border: 5px solid black;
    width: 100%;
}

.header h1 {
    display: inline-block;
    font-size: 50px;
    margin-left: 20px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

/* inline-block allows nav bar to be a row and not stacked*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Makes nav bar only white*/
.naveffect {
    color:var(--white);
}

.naveffect:hover {
    color:var(--white);
    text-shadow: 0 0 5px var(--white);
    cursor: pointer;
}

/* Marble block transition for effect. No border on top since header has bottom border already*/
.transitiionbar {
    height: 50px;
    width: 100%;
    background-position: center;
    border: 5px solid black;
    border-top: none;
    margin-bottom: 20px;
}

/* Text for about me aka the main part of the page*/
.main-text {
    margin: 10px;
}

/* Text for resume section. This is bigger for the importance and to fill space*/
.resume {
    font-size: 20px;
}

/* General image sizes for each section*/
img {
    height: 100px;
    width: 100%;
    background-position: center;
    border: 5px solid black;
    margin-bottom: 20px;
}

/* Special hover effects for resume img to indicate it should be clicked */
section a img:hover {
    box-shadow: 0 0 50px var(--white);
    cursor: pointer;
}

/* When a project is finished and a colored image is updated, it will display grayscale unless hovered */
.finished-projects {
    filter: grayscale(100%);
    transition: transform .5s;
}

/* Adds color when hovered */
.finished-projects:hover {
    box-shadow: 0 0 50px var(--white);
    cursor: pointer;
    filter: grayscale(0%);
    transform: scale(1.2);
    position: relative;
}

.project {
    padding: 10px;
    text-align: center;
  }
  
.project p {
    background: var(--grey);
    color: #fff;
    font-size: 20px;
    border: 1px solid black;
  }

.main {
    width: 100%;
    display: inline-block;
}

/* About me section with standard formatting */
.main-top {
    margin-bottom: 20px;
    padding: 20px;
    height: 250px;
    font-family: 'Serif';
    background-color: var(--light);
    color: #ffffff;
    border: 5px solid #700000;
}

.main-top img, .main-bottom img {
    width: 200px;
    height: 200px;
}

.main-mywork img {
    width: 300px;
    height: 350px;
}

.main-top h2, .main-mywork h2, .main-bottom h2 {
    margin-bottom: 10px;
    font-size: 36px;
}

/* Adjust the subtitle different */
.subtitle {
    font-size: 30px;
    margin-bottom: 20px;
    padding: 20px;
    height: 80px;
    font-family: 'Serif';
    background-color: var(--light);
    color: #ffffff;
    border: 5px solid #700000;
    text-align: center;
}

/* Adjust the MyWork section to be bigger and more prominant */
.main-mywork {
    margin-bottom: 20px;
    padding: 20px;
    height: 500px;
    font-family: 'Serif';
    background-color: var(--light);
    color: #ffffff;
    border: 5px solid #700000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* Resume and Contact me section with adjusted formatting because they are smaller */
.main-bottom {
    margin-bottom: 20px;
    padding: 20px;
    height: 250px;
    width: 100%;
    font-family: 'Serif';
    background-color: var(--light);
    color: #ffffff;
    border: 5px solid #700000;
    display: inline-block;
}

/* Display block for "label" that will be used for contact me block inputs below */
label {
    display: block;
}

/* Text input hover effect and button effect */
.text-input:hover, button:hover {
    box-shadow: 0 0 5px var(--maroon);
    cursor: pointer;
}

/* Grey when typing in box */
.text-input:focus {
    background-color: var(--grey)
}

/* Placeholder text before the user types */
.text-input:placeholder-shown {
    border-style: dashed;
    border-color: var(--grey);
}

/* Main pictures float to left of block */
.float-left {
    float: left;
    margin-right: 20px;
}

.footer {
    padding: 50px;
    text-align: center;
    color: var(--white);
    font-family: 'Serif';
}

.footer h2 {
    font-size: 20px;
}

.footer ul li {
    padding: 10px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}